page-home {
    .foto{
        background-image: url('../assets/imgs/luces.png')
    }

    .letra{
        color: white
    }

    .fondo{
        background-image: url('../assets/imgs/celeste.png')
    }
}
